<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../static/style.css" />
   <title>Intelligent Vehicle Damage Assessment & Cost Estimator for Insurance Companies</title>
 </head>
 <body>
   <nav class="navbar">
     <div class="logo">Intelligent Vehicle Damage Assessment & Cost Estimator for Insurance Companies</div>
     <ul class="nav-links">
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/register">Register</a></li>
         <li><a href="/prediction">Prediction</a></li>
       </div>
     </ul>
   </nav>
   <h1>ABOUT PROJECT</h1>
   <p>Vehicle damage detection is used to reduce claims leakage during insurance processing.
    Visual inception and validation are usually done.As it takes a long time, because a person needs to come and inspect the damage.
    Here we are trying to automate the procedure. Using this automation, we can avoid time conception for the insurance claims.
   </p>
   <footer>
    <div class="footer-content">
      <p>Copyright &copy; 2022.All Rights Reserved</p>
      <ul class="social"> <li><a href="#"><img width="40px" height="40px" src="../static/images/twitter.svg"></a></li>
        <li><a href="#"><img width="34px" height="34px" src="../static/images/linkedin.svg"></a></li>
        </ul>
    </div>
   </footer>
 </body>
</html>
