<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../static/style.css" />
   <title>Vehicle Damage Detection</title>
 </head>
 <body>
   <nav class="navbar">
     <div class="logo">Vehicle Damage Detection</div>
     <ul class="nav-links">
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/register">Register</a></li>
       </div>
     </ul>
   </nav>
   <div class="Logout">
   <h2>Successfully Logged Out!</h2>
   <h3>Login for more information</h3>
   <a href="/login">Login</a>
   </div>
   <footer>
    <div class="footer-content">
      <p>Copyright &copy; 2022.All Rights Reserved</p>
      <ul class="social"> <li><a href="#"><img width="40px" height="40px" src="../static/images/twitter.svg"></a></li>
        <li><a href="#"><img width="34px" height="34px" src="../static/images/linkedin.svg"></a></li>
        </ul>
    </div>
   </footer>
 </body>
</html>